* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
}

:root {
  --primaryColor:rgb(31 72 108);
  --baseColor:rgb(196 220 227) ;
}

header {
  background-color: var(--primaryColor);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav {
  display: flex;
  padding: 30px 15px 15px 15px ;
}

.navItem {
  font-size: 24px;
  margin: 0 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer ul {
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 40px;
   background-color: var(--primaryColor);
   color: white;
   text-align: center;
   display: flex;
   justify-content: space-evenly; 
   padding: 15px
}

footer {
   position: fixed;
   text-align: center;
   padding: 15px
}

about {
  display: flex;
  justify-content: flex-start;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
